<!-- Extending the predefined project layout -->
{% extends "layouts/project.html" %}

<!--This sets the variables in the predefined layout within the project.html file so that every page has the same layout and is efficient-->
{% set basename = "About Creators" %}
{% set project = "Hamza Hakak" %}
{% set para1 = " Hello! My name is Hamza Hakak, but you can call me Hamza (pronounced: Haum-zah). I am a current Del Norte senior. I was born in Dubai and I lived there until the 5th grade. That's when I moved to The Golden State. I speak Arabic at home, and English in public. I am of arabic origin, and I enjoy arab things such as, foods, music, shows, literature, and the overall culture. I am interested in soccer, business, politics, and philosophy. In my free time I enjoy socializing with friends, studying, researching politics, researching business, and investing. I also love traveling. My favorite traveling destinations are Abu Dhabi, Muscat, and Doha. Some places that I really want to go to are Socotra and Baghdad. I am interested in a career in computer science, so I took this class. I plan on majoring in CS in college and my ultimate goal is to create a business revolving around this field. " %}
{% set imageSRC = "/static/hamoozidadpic.png" %}
{% set imageWidth = "425" %}
{% set imageHeight = "425" %}

<body>
{% block button %}
{% endblock %}

{% block button2 %}
{% endblock %}
</body>

