<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->

<nav class="navbar navbar-expand-lg navbar-light bg-background: linear-gradient(55deg, deepskyblue, yellow, forestgreen);;">
    <a class="navbar-brand" style="color:black";></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
            <a class="nav-link" style=color:white href="{{ url_for('index') }}";>Home</a>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup"><div class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color:white; font-family:Papyrus;"; href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose Your Destination
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/area51";>Area 51</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/greatPyramid";>The Great Pyramid</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/bermudaTriangle";>The Bermuda Triangle</a>
            <div class="dropdown-divider"></div>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color:white;"    href="minilabs" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mini Labs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/kylie";>Kylie Lab 1</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/daniel";>Daniel Lab 1</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/khushi";>Khushi Lab 1</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/hamza";>Hamza Lab 1</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link"; href="https://drive.google.com/file/d/11eVvCi-PXmcRM0L1WIbLWY5jecKcZktF/view">Journal 0 Video</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link"; href="https://docs.google.com/document/d/1eyTgQhMv7jFi28SIGlwOs3k95a9KklfJFCS0O9pXCzA/edit?usp=sharing">Pair Share Journal: Kylie and Khushi</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link"; href="https://docs.google.com/document/d/1fy-J_PVrvafykD-OTxMm-Pe0L_UKrYUTC4-DP4vGXEw/edit?usp=sharing">Pair Share Journal: Kevin, Daniel, and Hamza</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color:white;"    href="minilab" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Creators Page
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('aboutKylie') }}";>About Kylie </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/aboutDaniel";>About Daniel </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/aboutKhushi";>About Khushi </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/aboutKevin";>About Kevin </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/aboutHamza";>About Hamza </a>
        </div>
    </li>
        </div>
</div>
</nav>
