<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->

<nav class="navbar navbar-expand-lg navbar-light bg-background: linear-gradient(55deg, deepskyblue, yellow, forestgreen);;">
    <a class="navbar-brand" style="color:black"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
            <a class="nav-link" style=color:white href="{{ url_for('index') }}">Home</a>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup"><div class="navbar-nav">
    <!--this creates a drop down within the navigation bar so if you want another one just copy and paste this text at the bottom after the last li and change the text and the links within the drop dowm-->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color:white; font-family:Papyrus;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose Your Destination
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('Area51') }}">Area 51</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('greatPyramid') }}">The Great Pyramid</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('bermudaTriangle') }}">The Bermuda Triangle</a>
            <div class="dropdown-divider"></div>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color:white;"  href="minilabs" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Technical Info
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/binary">Binary(TPT3)</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/Binary2">Binary(2)</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('kylie') }}">Kylie Lab 1</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('daniel') }}">Daniel Lab 1</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('khushi') }}">Khushi Lab 1</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('hamza') }}">Hamza Lab 1</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('kevin') }}">Kevin Lab 1</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('designInfo') }}">Journals, Wireframe, and Brainwrite</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('technicalResearch') }}">Wireframe of Button Options, Journal0, Project Plan, and Technical Research</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('rgb') }}">RGB</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('logicGate') }}">Logic Gate Lab</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('signedAddition') }}">Signed Addition Lab</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('unicode') }}">Uni Code Lab</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('unsignedaddition') }}">Unsigned Addition Lab</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('unsigned2') }}">Unsigned Addition 2 Lab</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('signed2') }}">Signed Addition 2 Lab</a>
            <div class="dropdown-divider"></div>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color:white;" href="minilab" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Creators Page
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('aboutKylie') }}">About Kylie </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('aboutDaniel') }}">About Daniel </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('aboutKhushi') }}">About Khushi </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('aboutKevin') }}">About Kevin </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('aboutHamza') }}">About Hamza </a>
        </div>
    </li>
        </div>
</div>

</nav>
