{% extends "layouts/project.html" %}

{% set para1 = "you quickly dialed your parents home phone with panic. You try to tell them everything and let them know what you been through. Shortly after, your telephone goes static. You turn around and then a mountain lion comes from behind. You try to battle it with a rock sitting besides you but didn't hit the lion strong enough." %}
{% set para2 = "YOU DIED" %}
{% set imageSRC = "lion.jpg" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "BTstory1" %}
{% set buttonText1 = "Return to Beginning" %}

<body>
{% block header %}
{% endblock %}
{% block button2 %}
{% endblock %}
</body>