{% extends "layouts/project.html" %}

{% set para1 = "Oh no! It appears you have lost balance and fell off the boat. You try to swim back towards it but the waves were too strong and you have struggled to keep your head above water for quite some time." %}
{% set para2 = "RIP" %}
{% set imageSRC = "rip.jpg" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "BTstory1" %}
{% set buttonText1 = "Return to Beginning" %}

<body>
{% block header %}
{% endblock %}
{% block button2 %}
{% endblock %}
</body>