{% extends "layouts/project.html" %}

{% set para1 = "You spend several hours walking down the island's sandy shore and have eventually found your boat violently crashed on the shore. You immediately try to see if the com works so you can contact coast guard security but it doesn’t so you end up improvising and gathering as many valuable resources from the boat as you can. You have found a flare gun loaded with only 1 flare so you thought it would be a good idea to trace SOS on the sand and wait for the right moment to use the flare.
" %}
{% set para2 = "In the meantime what do you do?" %}
{% set imageSRC = "/static/teepee.jpg" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "BTstory11211" %}
{% set HTML2 = "BTstory11212" %}
{% set buttonText1 = "build a shelter " %}
{% set buttonText2 = "go on a mountain top and shoot a flare
" %}
<body>
{% block header %}
{% endblock %}
</body>