<!-- Extending from the predefined project layout -->
{% extends "layouts/project.html" %}

<!--This sets the variables in the predefined layout within the project.html file so that every page has the same layout and is efficient
{% set para1 = "For decades, people have been trying to solve the mysteries within the Bermuda Triangle where ships, planes, and even people have disappeared & went off the radar completely. You turn on your TV and hear a news broadcast talking about another mysterious disappearance involving a wealthy couple on a yacht. The incident happened in Southern Florida when the young couple decided to cruise farther east, where they unwillingly entered the Bermuda Triangle. Coast Guard security gets involved and spends the next 12 hours searching the coasts of Florida, but couldn’t Identify the yacht the young couple took out from the harbor. This story suddenly becomes the news highlight for months, where they have been missing ever since. One of the families of the couple has offered a $500,000 dollar reward for whoever is able to find the couple and bring them back safely. You believe that you can solve the mystery and beat the risks, so you give it a shot.
" %}
{% set imageSRC = "yatch.jpg" %}
{% set imageWidth = "250" %}
{% set imageHeight = "350" %}
{% set HTML1 = "BTstory11" %}
{% set HTML2 = "BTstory12" %}
{% set buttonText1 = "READY" %}


<body>
{% block header %}
{% endblock %}
</body>