{% extends "layouts/project.html" %}
{% set para1 = "you decided to call coast guard security explaining to them your wild adventure. After that they try to trace your number but they soon realize that your IP is untraceable. since your on the ountain your phone soon goes static and your on your own again.After taking a good look of the view from the mountain ranges you notice an unusual looking square on the island." %}
{% set para2 = "what do you do?" %}
{% set imageSRC = "phone.jpg" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "BTstory112211" %}
{% set HTML2 = "BTstory112212" %}
{% set buttonText1 = "investigate what you saw" %}
{% set buttonText2 = "continue exploring the mountain" %}

<body>
{% block header %}
{% endblock %}
</body>