{% extends "layouts/project.html" %}

{% set para1 = "you make your way down the mountain where you begin to investigate what you had saw from above. Once you're there you quickly realize that you have led yourself to an underground bunker. The rectangle-like structure was half buried underground and looked unstable, but you see a possible way in" %}
{% set para2 = "what do you do now?" %}
{% set imageSRC = "bunk.jpg" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "BTstory121111" %}
{% set HTML2 = "BTstory121112" %}
{% set buttonText1 = "try breaking your way in" %}
{% set buttonText2 = "run away" %}

<body>
{% block header %}
{% endblock %}
</body>