{% extends "layouts/project.html" %}

{% set para1 = "You have chosen to start a group search with one of your closest friends. The young couple’s family has supplied your search team with a boat and a firearm for both of you. Once you get on the boat and enter the Bermuda triangle, you notice something unusual coming towards your ship.
" %}
{% set para2 = "do you..." %}
{% set imageSRC = "/static/full speed.jpg" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "BTstory121" %}
{% set HTML2 = "BTstory122" %}
{% set buttonText1 = "go full speed" %}
{% set buttonText2 = "start shooting towards it" %}

<body>
{% block header %}
{% endblock %}
</body>