{% extends "layouts/project.html" %}

{% set para1 = "your boating skills came in handy and you have done just enough to survive the storm! However, when you wake up the next morning you see that you are no longer on the boat and have washed up ashore. You sit there wondering for a minute what happened and believe that at one point in time you have been knocked out by a powerful wave masking you fully unconscious. You believe that your boat must be on this island because the last thing you remember is yourself steering the vessel through the thunderstorm. Your only way of communication is now your phone which thankfully still works. However, you have no service and can’t contact the coast guard security about what happened." %}
{% set para2 = "What's the first thing you do?" %}
{% set imageSRC = "change12" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "BTstory1121" %}
{% set HTML2 = "BTstory1122" %}
{% set buttonText1 = "search the shore for the boat" %}
{% set buttonText2 = "go inward and hike a mountain top to get service" %}

<body>
{% block header %}
{% endblock %}
</body>