{% extends "layouts/project.html" %}

{% set para1 = "Your egoistic self believes you have what it takes to enter the Bermuda triangle alone. As promised by the young couple’s family, you have been supplied with a boat to begin the search. After three days at sea, you notice the weather starts to change and know that a heavy storm will hit you soon." %}
{% set para2 = "what do you do?" %}
{% set imageSRC = "storm.jpg" %}
{% set imageWidth = "600" %}
{% set imageHeight = "400" %}
{% set HTML1 = "BTstory111" %}
{% set HTML2 = "BTstory112" %}
{% set buttonText1 = "brace yourself" %}
{% set buttonText2 = "try navigating your way through it" %}

<body>
{% block header %}
{% endblock %}
</body>
