{% extends "layouts/project.html" %}

{% set para1 = "After a long hike you made it to the top and look down at your phone to see just enough bars to make a quick phone call." %}
{% set para2 = "Who do you call first?" %}
{% set imageSRC = "walk.webp" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "BTstory11221" %}
{% set HTML2 = "BTstory11222" %}
{% set buttonText1 = "florida coast guard security" %}
{% set buttonText2 = "your parents" %}

<body>
{% block header %}
{% endblock %}
</body>