{% extends "layouts/project.html" %}

{% set para1 = "Once you had hiked the top of a mountain you look up in the sky and see a helicopter from a far distance, you quickly get their attention by shooting the last flare you had kept in your backpack and they landed to retrieve you. You have a conversation with the pilot and he mentions how he was sent on the island to look for the young couple too.You have been on the island for one month now before the pilot retried you and they said they heard the local news update stating that the young couple had to be on this island. After hours of exploration the young couple was found and brought back home safely." %}
{% set imageSRC = "chop.jpg" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "BTstory1" %}
{% set buttonText1 = "VICTORY +$500K" %}

<body>
{% block header %}
{% endblock %}
{% block button2 %}
{% endblock %}
</body>