{% extends "layouts/project.html" %}

{% set para1 = "After hours of exploration you look up into the sky and see a plane soaring by. You quickly get their attention by shooting the last  flare you had remaining in your backpack and they landed to retrieve you. You have a conversation with the pilot and he mentions how he was sent on the island to look for the young couple too.You have been on the island for one month now before the pilet retried you and they said they heard the local news update stating that the young couple had to be on this island. After hours of exploration the young couple was found and brought back home safely." %}
{% set imageSRC = "change" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "bermudaTriangle" %}
{% set buttonText1 = "Return to Beginning" %}

<body>
{% block header %}
{% endblock %}
{% block button2 %}
{% endblock %}
</body>