{% extends "layouts/project.html" %}

{% set para1 = "wow, you're pretty bad at math. I guess we got the wrong man for the job" %}
{% set para2 = "a poisonous gas ejects from the puzzle, paralyzing you." %}
{% set para3 = "YOU DIED" %}
{% set imageSRC = "/static/YOU DIED.jpeg" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "BTstory1211" %}
{% set HTML2 = "BTstory1212" %}
{% set buttonText1 = "change12" %}
{% set buttonText2 = "change12" %}

<body>
{% block header %}
{% endblock %}
</body>