<!-- Extending from the predefined project layout -->
{% extends "themePages/grayLayout.html" %}

<!--This sets the variables in the predefined layout within the project.html file so that every page has the same layout and is efficient-->
{% set project = "Area 51" %}
{% set para1 = "Area 51 is a top secret US Air Force facility located in the Nevada desert and built in 1955. The area is used to assemble and test spying technology, specifically spy aircraft which are used in highly classified missions. " %}
{% set para2 = "One of the most advanced planes was the U-2 which allowed the US to spy on the soviet union and look into its claims about its nuclear power. The general public was not aware of what was going on which led to the myths that there were UFOs flying near Area 51. This encouraged the belief that there was alien activity in the area, prompting many to speculate what was actually happening in Area 51. There are many different conspiracy theories around area51, but the most common one seems to be that it is where the government is harboring aliens." %}
{% set para3 = "No one can really know what’s going on inside Area 51 until they visit it, so click on the “adventure” button below to start investigating what is really going on inside our version of Area 51 and begin your interactive adventure. " %}
{% set imageSRC = "/static/A51.jpeg" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "A51story1" %}
{% set buttonText1 = "Start Your Adventure" %}