<!-- Extending from the predefined project layout -->
{% extends "layouts/project.html" %}

<!--This sets the variables in the predefined layout within the project.html file so that every page has the same layout and is efficient-->
{% set project = "The Bermuda Triangle" %}
{% set para1 = "The Bermuda Triangle is a part of the western Atlantic Ocean. It is a mapped-out area similar to a triangle where hundreds of ships and planes have disappeared mysteriously. Despite all the missing ships and planes, there has never been any wreckage found. " %}
{% set para2 = "One theory is that the ships were taken down by huge 100-foot rogue waves which were created by storms that converge together. This would explain why no wreckage has been found as it was all destroyed by the force of the ocean. There are also many other theories that claim that more unusual activity goes on in the Bermuda Triangle that causes planes to disappear with no trace. " %}
{% set para3 = "If you want to experience what it would be like to disappear into our version of the Bermuda Triangle, click on the “adventure” button below to begin your interactive adventure. " %}
{% set imageSRC = "/static/BT.jpeg" %}
{% set imageWidth = "325" %}
{% set imageHeight = "325" %}
{% set HTML1 = "aboutKylie" %}
{% set buttonText1 = "Start Your Adventure" %}

<body>
{% block button2 %}
{% endblock %}
</body>

