{% extends "layouts/project.html" %}

{% set para1 = "You chose to enter the left pyramid" %}
{% set para2 = "You walk in, confident. That is until you realize that the walls are tumbling down on you because you stepped on a pressure plate!" %}
{% set para3 = "HURRY! Save yourself!" %}
{% set imageSRC = "change" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "GPstory111" %}
{% set HTML2 = "GPstory112" %}
{% set buttonText1 = "BRACE YOURSELF" %}
{% set buttonText2 = "RUN!" %}

<body>
{% block header %}
{% endblock %}
</body>