{% extends "layouts/project.html" %}

{% set para1 = "Phew... that was close" %}
{% set para2 = "As you dust yourself off and get back on track you encounter a box. There could be stuff inside that could help you later on. and obviously, theres a *slighttt* chance that you might kill yourself in the process." %}
{% set para3 = "So, what are you gonna do?" %}
{% set imageSRC = "change" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "GPstory1121" %}
{% set HTML2 = "GPstory1122" %}
{% set buttonText1 = "OPEN THE BOX!" %}
{% set buttonText2 = "ignore the box" %}

<body>
{% block header %}
{% endblock %}
</body>