% extends "layouts/project.html" %}

{% set para1 = "You decide open up the box" %}
{% set para2 = "Woah. That looks cool. you found a flashlight." %}
{% set para3 = "You dont have a lot of space in your backpack though. Do you wanna keep it in your pocket or just leave it behind?" %}
{% set imageSRC = "change" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "GPstory11211" %}
{% set HTML2 = "GPstory11212" %}
{% set buttonText1 = "Keep the flashlight in your pocket" %}
{% set buttonText2 = "leave it behind" %}

<body>
{% block header %}
{% endblock %}
</body>