{% extends "layouts/project.html" %}

{% set para1 = "you start to go farther inland and begin to find as many branches and leaves you can gather. In the end, you have made a pretty decent shelter planted near the shore." %}
{% set para2 = "What do you do once you have finished building the shelter?" %}
{% set imageSRC = "teepee.jpg" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "GPstory12221" %}
{% set HTML2 = "GPstory12222" %}
{% set buttonText1 = "hunt for food" %}
{% set buttonText2 = "explore the island" %}

<body>
{% block header %}
{% endblock %}
</body>