{% extends "layouts/project.html" %}

{% set para1 = "You chose to enter the right pyramid" %}
{% set para2 = "You walk in the pyramid, finding yourself confronted with a puzzle. It seems to be a sort of mathematical problem" %}
{% set para3 = "What is your answer to the problem?" %}
{% set imageSRC = "question.jpeg" %}
{% set imageWidth = "200" %}
{% set imageHeight = "200" %}
{% set HTML1 = "GPstory121" %}
{% set HTML2 = "GPstory122" %}
{% set buttonText1 = "9" %}
{% set buttonText2 = "1!" %}

<body>
{% block header %}
{% endblock %}
</body>