{% extends "layouts/project.html" %}

{% set para1 = "NO WAY!" %}
{% set para2 = "You found the famed scarab! Okay now all you have to do is escape, good work!" %}
{% set para3 = "hold on, actually there might be more treasure ahead!" %}
{% set imageSRC = "change12" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "GPstory12211" %}
{% set HTML2 = "GPstory12212" %}
{% set buttonText1 = "KEEP GOING" %}
{% set buttonText2 = "escape!" %}

<body>
{% block header %}
{% endblock %}
</body>