<!-- Extending from the predefined project layout -->
{% extends "layouts/project.html" %}

<!--This sets the variables in the predefined layout within the project.html file so that every page has the same layout and is efficient-->
{% set para1 = "Built during a time when Egypt was one of the richest and most powerful civilizations in the world, the Great Pyramids of Giza are some of the most magnificent man-made structures in history. Their massive scale reflects the unique role that the pharaoh played in ancient Egyptian society. Inside of these pyramids, some of the world's most mysterious treasures lay, untouched for centuries. Your job is to retrieve the scarab jewel without triggering any of the booby traps. And most importantly, DON'T awaken the mummy of the Pharaoh of all Pharaohs, Khufu." %}
{% set imageSRC = "/static/Pyramids.jpeg" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "GPstory11" %}
{% set HTML2 = "GPstory12" %}
{% set buttonText1 = "Enter left pyramid" %}
{% set buttonText2 = "Enter right pyramid" %}

<body>
{% block header %}
{% endblock %}
</body>