{% extends "layouts/project.html" %}

{% set para1 = "you decide to leave the box alone and continue." %}
{% set para2 = "good decision, being curious around these parts isn't always the smartest thing to do." %}
{% set para3 = "do you smell that? it smells kinda odd... are you going to:" %}
{% set imageSRC = "change12" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "GPstory11221" %}
{% set HTML2 = "GPstory11222" %}
{% set buttonText1 = "Move on" %}
{% set buttonText2 = "Investigate" %}

<body>
{% block header %}
{% endblock %}
</body>