{% extends "layouts/project.html" %}

{% set para1 = "Wow... who knew you were capable of doing simple math?" %}
{% set para2 = "You find yourself in a little room with a door to enter a new room, but you notice that theres something shiny under a pile of rocks" %}
{% set para3 = "What do you do with it?" %}
{% set imageSRC = "change" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "GPstory1221" %}
{% set HTML2 = "GPstory1222" %}
{% set buttonText1 = "take it" %}
{% set buttonText2 = "leave it and move on to the next room" %}

<body>
{% block header %}
{% endblock %}
</body>