{% extends "layouts/project.html" %}
{% set para1 = "After entering the hangar you decide that it is too dangerous to stay inside. You decide that it is better to try and find a way out of the hangar. The hangar door that you first crawled through slammed shut after you entered, so you are forced to find another way out. " %}
{% set imageSRC = "/static/hangar3.jpg" %}
{% set imageWidth = "300" %}
{% set imageHeight = "300" %}
{% set HTML1 = "A51story1221" %}
{% set HTML2 = "A51story1222" %}
{% set buttonText1 = "Break the door open" %}
{% set buttonText2 = "Force the hangar door open" %}

<body>
{% block header %}
{% endblock %}
</body>