{% extends "layouts/project.html" %}
{% set para1 = "Using the crowbar you bend the door handle until it falls off of the door. You open the door but can't decide what you want to do inside of the hangar. But the sound that you made while breaking down the door alerts the guards, you start to hear somebody yelling and running towards you. " %}
{% set imageSRC = "change" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "A51story112111" %}
{% set HTML2 = "A51story12112" %}
{% set buttonText1 = "Find a place to hide" %}
{% set buttonText2 = "Run away from the hangar" %}

<body>
{% block header %}
{% endblock %}
</body>