{% extends "layouts/project.html" %}

{% set para1 = "Once you speak past the gates of Area 51, you discover that there are dozens of hangars inside the military base. You decide to sneak into one of the hangars, you crawl under one of the hangar doors which had a large enough gap to crawl through. Inside the hangar you discover one of the largest and most advanced aircraft you have ever seen.
" %}
{% set imageSRC = "/static/spy1.jpg" %}
{% set imageWidth = "300" %}
{% set imageHeight = "300" %}
{% set HTML1 = "A51story121" %}
{% set HTML2 = "A51story122" %}
{% set buttonText1 = "Break into the aircraft" %}
{% set buttonText2 = "Leave the area" %}

<body>
{% block header %}
{% endblock %}
</body>