{% extends "layouts/project.html" %}
{% set para1 = " You walk around the aircraft searching for a way to get into it. You find a ladder inside of the hangar, place it next to the aircraft and climb onto it. Despite looking for a way to get into the aircraft, you are unsuccessful. All of a sudden, the hangar door slams shut and you become trapped inside.
" %}
{% set imageSRC = "/static/hangar2.jpg" %}
{% set imageWidth = "250" %}
{% set imageHeight = "250" %}
{% set HTML1 = "A51story1211" %}
{% set HTML2 = "A51story1212" %}
{% set buttonText1 = "change" %}
{% set buttonText2 = "change" %}

<body>
{% block header %}
{% endblock %}
</body>