<!-- Extending from the predefined project layout -->
{% extends "layouts/project.html" %}

<!--This sets the variables in the predefined layout within the project.html file so that every page has the same layout and is efficient-->
{% set para1 = "The secrets of Area 51 intrigue you which makes you want to learn more about what is actually inside of the military base. The government claims that there are top-secret military operations going on in the area but you don’t believe what they are saying. You soon discover the rumors that there is alien activity near Area 51, which prompts you to investigate what is actually going on. You don’t know whether to believe the government or people on the internet making wild claims about Area 51. You decide to make the journey and drive to Area 51 to figure out for yourself." %}
{% set para2 = "As you approach the gate of Area 51, you are met by a guard who asks what you are doing in the area, while also threatening you with a gun. What do you do?" %}
{% set imageSRC = "/static/area51.jpg" %}
{% set imageWidth = "100" %}
{% set imageHeight = "250" %}
{% set HTML1 = "A51story11" %}
{% set HTML2 = "A51story12" %}
{% set buttonText1 = "Force your way through" %}
{% set buttonText2 = "Convince him to let you enter " %}

<body>
{% block header %}
{% endblock %}
</body>