{% extends "layouts/project.html" %}

{% set para1 = "You attempt to pry the doors open with the crowbar, but the sounds that you made cause the alarm to start going off. The sound of the alarm alerts the guards to go towards the commotion. While arriving at the hangar, the guard shoots you in the head which kills you instantly." %}
{% set imageSRC = "rip1.jpg" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "A51story1" %}
{% set buttonText1 = "Return to Beginning" %}

<body>
{% block header %}
{% endblock %}
{% block button2 %}
{% endblock %}
</body>