{% extends "layouts/project.html" %}

{% set para1 = "After you sneak into Area 51, you decide to look for evidence of alien activity or alien aircrafts inside of the military After wandering around the military base for a couple of hours you discover a strange aircraft that is lying in a field. You notice that the aircraft is still smoking with a strange looking creature inside." %}
{% set imageSRC = "/static/ufo.jpg" %}
{% set imageWidth = "300" %}
{% set imageHeight = "300" %}
{% set HTML1 = "A51story111" %}
{% set HTML2 = "A51story112" %}
{% set buttonText1 = "change" %}
{% set buttonText2 = "change" %}

<body>
{% block header %}
{% endblock %}
</body>