{% extends "layouts/project.html" %}
{% set para1 = "You are forced to walk around in the darkness since you cannot find any sources of light. You somehow stumble across the aircraft that you saw moments ago which gives you some sort of direction. However, you still want to turn on the lights since you don’t know what lies in the darkness." %}
{% set imageSRC = "change" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "A51story12111" %}
{% set HTML2 = "A51story12112" %}
{% set buttonText1 = "Locate the side door" %}
{% set buttonText2 = "Keep searching for the lights" %}

<body>
{% block header %}
{% endblock %}
</body>