{% extends "layouts/project.html" %}
{% set para1 = "There is a pile of objects in a corner of the hangar, you decide to search for something that can help you climb out of the hangar that you have become trapped inside of. You come across a ladder which you prop up against a wall. After climbing up the ladder you notice that the hangar has a hatch in the ceiling which you push open and climb through." %}
{% set imageSRC = "ladder.png" %}
{% set imageWidth = "300" %}
{% set imageHeight = "300" %}
{% set HTML1 = "A51story12211" %}
{% set HTML2 = "A51story12212" %}
{% set buttonText1 = "Look for a way down" %}
{% set buttonText2 = "Yell for help" %}

<body>
{% block header %}
{% endblock %}
</body>