{% extends "layouts/project.html" %}
{% set para1 = "As you search for an entrance into the hangar, you discover that one of the side doors was left unlocked. You venture into the darkness in search for the light switch. But as you stumble into the darkness you hear something moving around on the opposite side of the hangar." %}
{% set imageSRC = "/static/hangar4.jpg" %}
{% set imageWidth = "300" %}
{% set imageHeight = "300" %}
{% set HTML1 = "A51story11221" %}
{% set HTML2 = "A51story11222" %}
{% set buttonText1 = "Walk towards the sound" %}
{% set buttonText2 = "Turn on the lights" %}

<body>
{% block header %}
{% endblock %}
</body>