{% extends "layouts/project.html" %}

{% set para1 = "As you approach the aircraft, a strange alien-like creature comes out of the aircraft and attacks you. You attempt to fight back but the creature is too strong." %}
{% set para2 = "RIP" %}
{% set imageSRC = "/static/rip1.jpg" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "A51story1" %} {# this is a die page so this makes it so there is only one button that returns to the beginning of the story #}
{% set buttonText1 = "Return to Beginning" %}

<body>
{% block header %}
{% endblock %}
{% block button2 %} {# makes it so there is only one button #}
{% endblock %}
</body>