{% extends "layouts/base.html" %}
{% set para1 = "While inside of the hangar you look for anything that can pry the door open. In the corner of the hangar you find a cinder block lying around. You lift up the door as much as possible and then place the block in between the door and the ground, you crawl out of the space under the door." %}
{% set imageSRC = "cinder.jpg" %}
{% set imageWidth = "300" %}
{% set imageHeight = "300" %}
{% set HTML1 = "A51story12211" %}
{% set HTML2 = "A51story12212" %}
{% set buttonText1 = "Explore a different area" %}
{% set buttonText2 = "Keep exploring the area" %}

<body>
{% block header %}
{% endblock %}
</body>