{% extends "layouts/project.html" %}
{% set para1 = "You decide to yell for help since you cannot find any ways out of the dark hangar. The guard that you first encountered starts yelling back towards you from the outside. He uses his keys to open the locked side door, he gets frightened when he sees somebody in the darkness and shoots you in the head with his gun." %}
{% set para2 = "RIP" %}
{% set imageSRC = "rip1.jpg" %}
{% set imageWidth = "350" %}
{% set imageHeight = "350" %}
{% set HTML1 = "A51story1" %}
{% set buttonText1 = "Return to Beginning" %}


<body>
{% block header %}
{% endblock %}
{% block button2 %}
{% endblock %}
</body>