<!-- Extending from the predefined project layout -->
{% extends "layouts/project.html" %}

<!--This sets the variables in the predefined layout within the project.html file so that every page has the same layout and is efficient-->
{% set para1 = "gh ghg g g hghg g ghg ghg g hghg g g . " %}
{% set imageSRC = "/static/A51.jpeg" %}
{% set imageWidth = "400" %}
{% set imageHeight = "400" %}
{% set HTML1 = "aboutPages/aboutKylie" %}
{% set HTML2 = "aboutPages/aboutDaniel" %}
{% set buttonText1 = "run" %}
{% set buttonText2 = "hide" %}

<body>
{% block header %}
{% endblock %}
</body>