<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Kylie" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->

    <div class="center-block" style="margin: 2% 5% 5%; text-align:left;">

    <div class="container-fluid">
        <div class="row" style="padding-left:25%;">
            <!--this creates the text displayed at the top that changed and sets the thing to be changed to a variable so you can set it to different values in python so it can change-->
            <div class="col-12">
                <p>Hello, {{kylieDisplayName}}!</p>
            </div>
            <div class="col-12">
                <!--this form tag creates the search bar that is tied to a label which is displayed text and to a submit button so the user can input information-->
                <form action="/kylie/" id="kylie" method="POST" >
                    <label for="kylieForm">Type a greeting name?</label>
                    <input name="kylieForm" id="kylieForm">
                    <input type="submit" value="Greetings!">
                </form>
            </div>
            <!--this creates an image displayed on the page-->
            <div class="col-12">
                <img src="/static/assets/smiley.jpg" alt="Smiley" width="400" height="400">
            </div>
        </div>
    </div>

    </div>
{% endblock %}

