
<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Area 51" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
<h1> Area 51 </h1>
<p>Tech Talk 1 - Body Stub</p>
<p>Welcome to mysterious Area 51!</p>
<p>Introduction to this Spooky place.</p>
<script language="JavaScript1.2" type="text/javascript"><!--
		function getEl(item) {
			if( window.mmIsOpera ) return(document.getElementById(item));
			if (document.all) return(document.all[item]);
			if (document.getElementById) return(document.getElementById(item));
			return(false);
		}
		<<script !src="">
</script>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}