
<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Area 51" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
<div class="dark1border" style="text-align: center; margin: 20px 30px 20px 30px;
		padding: 10px 10px; border-top-width: 0.5px; border-bottom-width: 0.5px; border-top-style: solid;
		border-bottom-style: solid;">
    <h1>Area 51</h1>
    <p>Area 51 is believed to be a place where people with authorized personnel can communicate to alien. Hence, it is a restricted place for the public.</p>
    <h1>Find out more about Area 51.</h1>

    <div style="margin: 20px 20px 20px 20px;
        padding:5px 5px; border-bottom-width: 0.5px; border-top-style: dashed;
        border-bottom-style: solid;">
    </div>
    <button type="button" onclick="alert('Hello world!')">Start your adventure!</button>
</div>
{% endblock %}




