<!-- Extending the project layout, as this file will do minor customizations -->
<!-- Extending the predefined project layout -->
{% extends "layouts/project.html" %}

{% set project = "The Bermuda Triangle" %}
{% set para1 = "the fox the fox the fox the foc gieghg g hg ghghg g g g g g g g g g g g g g g g g  g g g g g g g g g ghug  igha ogh g g higu fg gh fg g fguhiu g fg fhgf ughfug fg " %}
{% set para2 = "ghfghf g hgiuhf ghf  ghfig fi gf fhg fgh f fg   fhig fighdgu   ghfig di g g ghfig ig " %}
{% set imageSRC = "/static/smiley.jpg" %}
{% set imageHeight = "400" %}
{% set imageWidth = "600" %}
{% set HTML = "aboutKylie" %}
