<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}



{% block body %}

<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

    <div class="col-12">
        <p>Hello, User!</p>
    </div>

    <div class="col-12">
        <p>Choose between area 51, bermuda triangle, great pyramid, crooked forrest, more  </p>
    </div>

    <div class="col-12">
        <form action="/" id="index" method="POST" >
            <label for="indexSearch">Type The Page You Would Link To Navigate To</label>
            <input name="indexSearch" id="indexSearch">
            <input type="submit" value="Press When Done!">
        </form>

    </div>
</div>

{% endblock %}