<!-- Extending the project layout, as this file will do minor customizations -->
<!--this sets up the home page of the site-->
{% extends "layouts/base.html" %}

{% set project = "Wonders of the World!"%}
{% set github = "https://github.com/KylieScharf/flask_portfolio" %}

<body>
{% block body %}
    <div class="container-fluid">
        <div class="product" style="margin-top: 1%;">
            <div class="row" style="padding: 9%; padding-top: 1%; padding-bottom: 0%; padding-left: 10%;">
                <div class="col-12" >
                    <h1>{{ project }}</h1>
                </div>
        </div>
    </div>

<div class="center-block" style="margin: 2% 0% 5%; text-align:left;">

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <p style="text-indent: 50px; font-size: 20px;"> Have you ever thought about where those planes really go when they disappear over the bermuda triangle? Or who really built the Great Pyramid of Giza? What about wondering what really goes on inside Area 51? If your answer is yes to any of these questions, this is the site for you!</p>
            <p style="text-indent: 50px; font-size: 20px;"> Here, you will learn about 3 of the greatest wonders of the world: Area 51, The Great Pyramid of Giza, and The Bermuda Triangle. And it doesn't stop there! You will also be taken on an adventure within each wonder where you will get to decide your own fate by picking between different options within the adventure. The goal: make it out alive. You decide your destiny! </p>
            <p style="text-indent: 50px; font-size: 20px;"> If you would like to begin, choose one of the 3 adventures to start by clicking on the "choose your destination" drop-down menu and selecting the wonder you are most interested in. Don't worry, you can always choose another adventure when you finish! Choose now to begin! Additionally, an embed of our wireframe or the design of our website is pictured at right.</p>
        </div>
        <div class="col-4" style="text-align:center;">
            <div class="card">
                <iframe src="https://docs.google.com/document/d/1t8cRoSjdcl2BHJ1eOqjS7T4RPHXwugz9jqXOsz4qo_w/edit?usp=sharing" class="half-height" width="100%" allow="autoplay"></iframe>
                <h4 style="color:black">Wireframe</h4>
            </div>
        </div>
        <div class="col-2">
            <button>
                <a class="button" onclick=href="https://github.com/KylieScharf/flask_portfolio">Our Github!</a>
            </button>
        </div>

    </div>
</div>

</div>

    </div>
{% endblock %}
</body>
