<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<!- Try building a new body here ->
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
    <div class="col-8">
        <p>Hello, {{name1}}!</p>
    </div>
    <div class="col-8">
        <form action="/khushi/" id="greet" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!">
        </form>
{% endblock %}

<!- This is turning off birds background from base.html -->

{% block background %}
{% endblock %}


