<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<!- Try building a new body here ->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarMaterials" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Course-materials
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/y2022/repos">Repos</a>
        <a class="dropdown-item" href="/deploy">Deployment</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/y2022/padlet">Trimester 1</a>
    </div>
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
    <div class="col-12">
        <p>Hello, {{name1}}!</p>
    </div>
    <div class="col-12">
        <form action="/khushi/" id="greet" method="POST" >
            <label for="name">Type a greeting name?</label>
            <input name="name" id="name">
            <input type="submit" value="Greetings!">
        </form>
    </div>
    <canvas id="canvas"></canvas>

    <p class="collection">
        <a href="https://codepen.io/collection/AGZywR" target="_blank">WebGL Collection</a>
    </p>
</div>
{% endblock %}

<!- This is turning off birds background from base.html -->

{% block background %}
</li>
    <!--root menu -->
<li class="nav-item active">
    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
</li>

{% endblock %}


