<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Kylie" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <body style="background-color:green">
    </body>

    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

    <div class="container-fluid">
        <div class="row" style="padding-left:25%;">
            <div class="col-12">
                <p>Hello, {{kylieDisplayName}}!</p>
            </div>
            <div class="col-12">
                <form action="/kylie/" id="kylie" method="POST" >
                    <label for="kylieForm">Type a greeting name?</label>
                    <input name="kylieForm" id="kylieForm">
                    <input type="submit" value="Greetings!">
                </form>
            </div>
            <div class="col-12">
                <img src="/static/smiley.jpg" style="height: 400px" >
            </div>
        </div>
    </div>

    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
