{% extends "layouts/project.html" %}
{% set response = response %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1><strong>Movie API</strong></h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table>
            <tr>
                <th>Movie Title</th>
                <th>Year of Movie</th>
                <th>Type</th>
            </tr>
            {% for dictionary in response %}
            <tr>
               <td>{{dictionary['title']}}</td>
                <td>{{dictionary['year']}}</td>
                <td>{{dictionary['tmdb_type']}}</td>
            </tr>
            {% endfor %}}
        </table>
    </div>
</div>
{% endblock %}