{% extends "technicalInfo/quarterLayout.html" %}
{% set src = ["https://docs.google.com/document/d/1fy-J_PVrvafykD-OTxMm-Pe0L_UKrYUTC4-DP4vGXEw/edit?usp=sharing", "https://docs.google.com/document/d/1eyTgQhMv7jFi28SIGlwOs3k95a9KklfJFCS0O9pXCzA/edit?usp=sharing", "https://docs.google.com/document/d/1t8cRoSjdcl2BHJ1eOqjS7T4RPHXwugz9jqXOsz4qo_w/edit?usp=sharing", "https://docs.google.com/document/d/1UP5qIdkQOmEhP3YhnNH2CsiziexECjVGex2CcQaKxX0/edit?usp=sharing"] %}
{% set text =["Journal", "Journal", "Wireframe", "Brainwrite"] %}


