{% extends "layouts/base.html" %}
<!-- creating a layout for equal sized columns -->
<body>
{% block body %}
    <div class="container-fluid">
        <div class="row" style="text-align:center">
            <div class="col-12">
                <div class="table">
                    <tr>
                        {% for item in src %}
                            <td><iframe src="{{ item }}" class="half-height" width="45%" allow="autoplay"></iframe>
                            </td>
                        {% endfor %}
                    </tr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>