{% extends "layouts/base.html" %}
{% set n = 4  %}
<!-- creating a layout for equal sized columns -->
<body>
{% block body %}
    <div class="container-fluid">
        {% for item in src %}
            {% if loop.index is not divisibleby 2 %}
                <div class="row" style="text-align:center">
            {% endif %}
            <div class="col-6">
                <div class="table">
                    <div class="card-deck">
                            <div class="card">
                                <td><iframe src="{{ item }}" class="half-height" width="100%" allow="autoplay"></iframe>
                                </td>
                                <h4>{{ cardText[loop.index - 1]}}</h4>
                            </div>

                    </div>
                </div>
            </div>
        {% if loop.index is divisibleby 2 or loop.length == loop.index %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}
</body>