<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% set greyscale = "Greyscale" %}
{% set color = "Color" %}
{% set greyscale2 = "Greenscale" %}


{% block meta %}
    <script>
        function setImg(img, base64, base64GRAY, button, text) {//pass ID of the image and hidden IDs and button ID as parameters
            // add button and rotate image from original to gray and back (toggle)
            const imgLink = document.getElementById(img)//create a variable storing the element with teh ID passed as a parameter
            const btn = document.getElementById(button)
            if (imgLink.src == document.getElementById(base64).innerHTML) {//if the current image matched the base64 ID meaning the current image has color
                imgLink.src = document.getElementById(base64GRAY).innerHTML;  //change img src to the inner html hidden on <p> tag
                btn.innerHTML = "{{ color }}";//change the button text
                document.getElementById("table1").hidden = false; //this makes it so the table with the ID table 1 (the grey table) is not hidden as hidden = false
                document.getElementById("table2").hidden = true; //this makes it so the table with the ID table 2 (not gray table) is hidden so only the grey is shown
            }
            else {//if the current image does not have color so is gray
                imgLink.src = document.getElementById(base64).innerHTML;//change the image src to the color version
                btn.innerHTML = text;
                document.getElementById("table1").hidden = true;
                document.getElementById("table2").hidden = false
            }
        }
    </script>


    <title>RGB starter</title>
{% endblock %}


{% block body %}
    <h1 class="text-center">RGB values within an Image</h1>
    <div class="container">
        <div class="row justify-content-md-center">
            <table class="table">
                <thead>
                <tr>
                    <th>Meta Data</th>
                    <th>Image</th>
                    <th>Data</th>
                </tr>
                </thead>
                <tbody>
                {% for image in images %}
                    <tr>
                        <td>
                            <div>{{image.file}}</div>
                            <div>{{image.format}}</div>
                            <div>{{image.size}}</div>
                            <div>{{image.label}}</div>
                            <div>{{image.source}}</div>
                        </td>
                        <td>
                            <img class="img-responsive py-3" id=img{{loop.index}} alt="" width="256" height="Auto" src="{{image.base64_flip}}" >
                            <button type="button" id="butt{{loop.index}}" onclick="setImg('img{{loop.index}}', 'img_orig{{loop.index}}', 'img_gray{{loop.index}}', 'butt{{loop.index}}', 'GreyScale')">{{ greyscale }}</button> {# these are parameters to be passed to the java script #}
                            <button type="button" id="butt2{{loop.index}}" onclick="setImg('img{{loop.index}}', 'img_orig{{loop.index}}', 'img_green{{loop.index}}', 'butt2{{loop.index}}', 'GreenScale')">{{ greyscale2 }}</button> {# these are parameters to be passed to the java script #}
                            <p hidden id="img_orig{{loop.index}}">{{image.base64_flip}}</p> {# these are hidden so they are not displayed as text. We just want the inner HTML of these to use later #}
                            <p hidden id="img_gray{{loop.index}}">{{image.base64_GRAY}}</p>
                            <p hidden id="img_green{{loop.index}}">{{image.base64_GREEN}}</p>
                        </td>
                        <td>
                            <div Id="table2" class="overflow-auto" style="height: 256px"> <!-- we start out with this table not hidden and the other table hidden so when we go into the page this table is shown and the gray table is hidden-->
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{image.mode}}</th> {# RGB for JPG vs RGBA for PNG #}
                                        <th>Hex Code</th>
                                        <th>Binary</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in image.data[:256 + 1] %} {# image.gray_data instead #}
                                        <tr>
                                            <td>{{loop.index}}</td>
                                            <td>{{row}}</td> {# binary #}
                                            <td>{{image.hex_array[loop.index - 1]}}</td>  {# hex array is 0 based so the first item in the array is the zeroth item so to get that you do the loop.index - 1 or loop.index0 #}
                                            <td>{{image.binary_array[loop.index - 1]}}
                                        </tr>
                                        {% if loop.index > 256 %}
                                            <tr><td>...</td><td>truncated</td><td>...</td><td>...</td></tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div hidden id="table1" class="overflow-auto" style="height: 256px"><!--this table starts out hidden but then the DOM is changed in javascriopt to unhide it when the button is pressed-->
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Greyscale {{image.mode}}</th> {# RGB for JPG vs RGBA for PNG #}
                                        <th>Hex Code</th>
                                        <th>Binary</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in image.gray_data[:256 + 1] %} {# image.gray_data instead #}
                                        <tr>
                                            <td>{{loop.index}}</td>
                                            <td>{{row}}</td> {# binary #}
                                            <td>{{image.hex_array[loop.index - 1]}}</td>  {# hex array is 0 based so the first item in the array is the zeroth item so to get that you do the loop.index - 1 or loop.index0 #}
                                            <td>{{image.binary_array[loop.index - 1]}}
                                        </tr>
                                        {% if loop.index > 256 %}
                                            <tr><td>...</td><td>truncated</td><td>...</td><td>...</td></tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
{% endblock %}