{% extends "layouts/base.html" %}
<body>
{% block body %}
    <div class="container-fluid">
        <div class="product" style="margin:0px 0px 0px 0px">
            <div class="row">

                <div class="col-6">
                    <iframe src="https://docs.google.com/document/d/1mSeE_iHl6vCj0JwOvVVJSmVObRGpZrRwsSjGc_0cPo0/edit?usp=sharing" width="100%" height="275" allow="autoplay"></iframe>
                </div>
                <div class="col-6">
                    <iframe src="https://drive.google.com/file/d/11eVvCi-PXmcRM0L1WIbLWY5jecKcZktF/preview" width="100%" height=275" allow="autoplay"></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <iframe src="https://docs.google.com/document/d/1ceMRO3Jr5wGSB6g3O0-DdUKxh7ANQLHCXWUWkgdgtHA/edit?usp=sharing" width="100%" height="275" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>